User Page
%br
= image_tag @user.image, :class => "profile_image"
%p
  %b Username:
  = @user.username
%p
  %b Email:
  = @user.email
%p
  %b Location:
  = @user.address

%br
  = link_to 'Say Hi!', new_message_path(:user_id => @user.id)
  \|
  = link_to 'Back', users_path